* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

:root {
  --color-primary: #5cdb95;
  --primary-500: #379683;
  --accent-400: #214d55;
  --accent-300: #0f6b7b;
  --primary-300: #8ee4af;
  --primary-200: #edf5e1;
  --color-accent: #05386b;
  --accent-700: #0a1f34;
  --nav-bar_width: 22vw;
  --transition-time: 0.5s;
  --delay-time: calc(var(--transition-time) / 2);
  --background-color: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--primary-500)
  );

  --background-accent: linear-gradient(
    to left,
    var(--color-accent),
    var(--accent-300)
  );
}

.app-container {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  font-size: 2.5vw;
  overflow: hidden;
}

.gird-template {
  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-columns: var(--nav-bar_width) auto;
  grid-template-rows: 25% 40% 20% auto;
  grid-template-areas:
    "sidebar scramble"
    "sidebar timer"
    "sidebar average";
}

.average-container {
  grid-area: average;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scramble {
  grid-area: scramble;
}

.timer {
  grid-area: timer;
}

.side-bar {
  grid-area: sidebar;
  grid-row: 1 / 5;
  z-index: 100;
}

.timer *,
.scramble *,
.average-container:not(span) {
  background: var(--background-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-ready {
  transition-property: opacity, transform;
  transition-duration: var(--transition-time);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: var(--delay-time);
}

.hide {
  transition-property: opacity, transform;
  transition-duration: var(--transition-time);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  transform: translateX(-20vw);
  opacity: 0;
}
