.item {
  font-size: 0.6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  cursor: pointer;
}

.item:hover {
  opacity: 0.5;
}

.column {
  padding: 5% 0;
  border: var(--primary-700) 0.1em solid;
  color: var(--accent-400);
}

.header:has(.column) .column {
  color: var(--primary-200);
}

.header {
  position: sticky;
  top: 0;
  opacity: 1;
  font-weight: 500;
  background: var(--accent-300);
}
