.wrapper {
  position: relative;
}

.wrapper:hover .item:not(.header) {
  opacity: 0.4;
}

.item {
  font-size: 0.6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  transition: opacity 0.2s ease-in;
}

.column {
  padding: 5% 0;
  color: var(--accent-400);
  border: var(--primary-500) 0.1em solid;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.3s cubic-bezier(0.2, 0.55, 0.27, 1.55);
  transform: translate(-15vw, -50%);
  cursor: pointer;
}

.wrapper:hover .icon {
  transform: translate(-50%, -50%);
}
