@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Ultra&display=swap");
.average {
  font-size: 2.5vw;
  opacity: 1;
  transition: all var(--transition-time) ease-in-out;
  transition-delay: var(--transition-time);
}

.hide {
  transform: translateX(-20vw);
  opacity: 0;
  transition-delay: 0s;
}
.averageOf {
  font-family: "Ultra", serif;
}
