@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Ultra&display=swap");
.average {
  font-size: 2.5vw;
  opacity: 1;
  transition: opacity var(--transition-time) ease-in-out;
}

.hide-average {
  opacity: 0;
}
.averageOf {
  font-family: "Ultra", serif;
}
