.scramble-container {
  font-size: 2.5vw;
  top: 15vh;
  opacity: 1;
  position: absolute;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.05rem;
  background: linear-gradient(to left, var(--color-accent), var(--accent-300));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hide {
  transform: translateX(-20vw);
  opacity: 0;
}
