:root {
  --width-on-run: 65.2vw;
  --font-on-run: 12vw;
  --magic-number: calc(0.12 * var(--font-on-run));
}

.timer {
  transition: font-size var(--transition-time) ease;
  font-size: 8vw;
}

.ready {
  font-size: var(--font-on-run);
  width: min-content;
  text-align: center;
  transform: translateX(-15%);
}
.running {
  /* font-size: var(--font-on-run);
  transform: translateX(var(--magic-number));
  transform: translateX(-10%); */
  text-align: unset;
  width: var(--width-on-run);
}
