:root {
  --width-on-run: 65.2vw;
  --font-on-run: 12vw;
  --magic-number: calc(0.12 * var(--font-on-run));
}

.timer {
  font-size: 9vw;
  transition: transform var(--transition-time) ease-out;
}

.ready,
.running {
  font-size: var(--font-on-run);
  text-align: center;
  width: var(--width-on-run);
  transform: translateX(-15%);
}

.running {
  text-align: unset;
}
