:root {
  --color-primary: #5cdb95;
  --color-accent: #05386b;
  --accent-300: #0f6b7b;
  --primary-500: #379683;
  --primary-300: #8ee4af;
  --primary-200: #edf5e1;
}

.timer {
  text-align: center;
  transition: font-size 0.2s ease;
  font-size: 8vw;
  background-color: red;
  background: linear-gradient(to left, var(--color-accent), var(--accent-300));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ready {
  font-size: 10vw;
  width: 54vw;
  text-align: center;
}

.running {
  font-size: 10vw;
  width: 54vw;
  text-align: unset;
}
