.side-nav {
  width: var(--nav-bar_width);
  height: 100vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden scroll;
  scrollbar-width: none;

  border-radius: 0 5px 5px 0;
}

.side-nav::-webkit-scrollbar {
  display: none;
}
